{% block subject %}轮子激活账号,{{ user.username }}{% endblock %}

{% block body_text %}
{% autoescape false %}
亲爱的{{ user.username }}，你好：

 很高兴您使用轮子。
 
 请在24小时内点击以下链接激活您的密码：
 
 {{ confirmationUrl }}

{% endautoescape %}
{% endblock %}

{% block body_html %}
<div>
                亲爱的{{ user.username }}，你好：
                <br/><br/>
                很高兴您使用轮子。
                <br/><br/>
                请在24小时内点击以下链接激活您的密码：
                <br/><br/>
                <a href="{{confirmationUrl}}">{{confirmationUrl}}</a>
            </div>
{% endblock %}
