{% extends 'BlogBlogBundle::layout.html.twig' %}
{% block title %}
                  {{ entity.title }}-轮子
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/blogwo/css/img.css') }}" type="text/css" />
{% endblock %}

{% block header %}
                    <div style="margin-top:15px"><a href="{{ path('blog_wo_homepage') }}" class="brand">随笔</a></div>
                    <div style="height:15px"></div>
                    <ul class="nav pull-right">     
                         <li class="active"  style="margin-right:15px"><a href="{{ path('diary_show', { 'token': entity.token }) }}">查看</a></li>
                         <li style="margin-right:15px"><a href="{{ path('diary') }}">管理</a></li>
                         <li><a href="{{ path('fos_user_security_logout') }}">退出</a></li>
                   </ul>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
     <script>$(function() {$('.preview').append($('textarea').text());$('textarea').remove();if(($('.header').height()+$('.main').height()+$('.footer').height())<$('body').height())$('.main').css('height','100%');}); </script>
{% endblock %}

{% block body -%}
    <div class="container main">
        <div class="row"  style="padding-top: 20px;">
            <legend>{{entity.title}}</legend>
            <div class="span1"></div>
            <div class="span9">
               <div class="preview"></div>
                <textarea>{{entity.blog}}</textarea>
            </div>
            <div class="span2">
                <div>
                          <ul class="nav nav-pills pull-right">
                                 <li role="presentation">{{ form(delete_form) }}</li>
                          </ul>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
