{% extends 'BlogBlogBundle::layout.html.twig' %}
{% block title %}
                  首页管理-轮子
{% endblock %}

 {% block javascripts %}
   {{ parent() }}
     <script>$(function() {if(($('.header').height()+$('.main').height()+$('.footer').height())<$('body').height())$('.main').css('height','100%');}); </script>
{% endblock %}

{% block header %}
       <div style="margin-top:15px"><a href="{{ path('blog_wo_homepage') }}" class="brand">轮子</a></div>
       <div style="height:15px"></div>
       <ul class="nav pull-right">     
             <li class="active" style="margin-right:15px"><a target="_self">添加</a></li>
             <li style="margin-right:15px"><a href="{{ path('index_category_show', { 'token': token }) }}">管理</a></li>
             <li><a href="{{ path('fos_user_security_logout') }}">退出</a></li>
      </ul>
{% endblock %}

{% block body -%}
<div class="container main">
<div class="row" style="padding-top: 20px;">
             <legend>添加新网页</legend>
             <div class="span9">
                   <form action="{{ path('index_webpage_create') }}" method="post" {{ form_enctype(form) }}>
                           <div class="row">
                           
	                          	<div class="span4">
	                          	<h5>标题</h5>
	                          		{{ form_errors(form.title) }}
                                  	 {{ form_widget(form.title) }}
	                          	</div>
	                          	
	                          	<div class="span3">
	                          	<h5>链接</h5>
	                          		{{ form_errors(form.url) }}
                                  	 {{ form_widget(form.url) }}
	                          	</div>
					
	                          	
	                          	
                          </div>
                          <div class="btn-group btn-group-justified  pull-right" role="group">
                                		<div class="btn-group" role="group">
                                      	{{ form_widget(form.submit) }}
                                		</div>
                          		</div>
                          
                           {{ form_end(form) }} 
             </div>    
      </div>
</div>
{% endblock %}
