{% extends '::layout.html.twig' %}

{% block title %}
       {{ app.request.get('query') }} -轮子
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/blogwo/css/index.css') }}" type="text/css" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>$(function() {if(($('.header').height()+$('.main').height()+$('.footer').height())<$('body').height())$('.main').css('height','100%');}); </script>
{% endblock %}
{% block body %}
<div class="container main">
       <div class="row">    
             <div class="col-md-4"></div>     
             <div class="col-md-8">                          
                   <form action="{{ path('search_blog') }}" method="get" class="navbar-form" >
                         <input style="width:505px" class="form-control" placeholder="检索内容" name="query"  autocomplete="off" type="text" value="{{ app.request.get('query') }}">
                         <button type="submit" class="btn btn-info">搜索</button>
                   </form>
             </div>
       </div>  
       <div class="row" style="padding-top:25px">
             <div class="col-md-1"></div>
             <div class="col-md-10">
                   <ul class="nav nav-tabs" style="margin-bottom:25px">
                          <li role="presentation"  class="active"><a href="{{ path('search_blog')}}?query={{ app.request.get('query') }}">教程</a></li>
                          <li role="presentation"><a href="{{ path('search_journal')}}?query={{ app.request.get('query') }}">随笔</a></li>
                   </ul>
             </div>
       </div>   
       <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10">
                   <div class="row">
                          <div class="col-md-8 side-right">
                                  {% for entity in entities %}
                                         <div class="row">
                                                <div class="col-md-12 blog-info">
                                                       <div class="list-group">
                                                        <a href="{{ path('community_blog_show', { 'id': entity.id }) }}" class="list-group-item">
                                                          <h4 class="list-group-item-heading">{{ entity.title }}</h4>
                                                          <p class="list-group-item-text">
                                                          {{ entity.blog }}
                                                          <div class="more-info pull-right">
                                                              <span class="eye" style="padding-right:25px">{{ entity.click }}</span><time>{{ entity.createdAt|date('Y-m-d') }}</time>
                                                            </div>
                                                          </p>    
                                                        </a>
                                                       </div>
                                                </div>
                                         </div>
                                  {% endfor %}
                           </div>
                   </div>
             </div>
             <div class="col-md-1"></div>
       </div>
</div>
                  
{% endblock %}