{% extends 'BlogBlogBundle::layout.html.twig' %}
{% block title %}
                  账号设置-轮子
{% endblock %}

{% block header %}
                    <div style="margin-top:15px"><a href="{{ path('blog_wo_homepage') }}" class="brand">轮子</a></div>
                    <div style="height:15px"></div>
                    <ul class="nav pull-right">     
                         <li class="active" style="margin-right:15px"><a href="{{ path('user_show') }}">查看</a></li>
                         <li style="margin-right:15px"><a href="{{ path('user_edit', { 'token': app.user.token }) }}">编辑</a></li>
                         <li style="margin-right:15px"><a href="{{ path('fos_user_change_password')}}">修改密码</a></li>
                         <li style="margin-right:15px"><a href="{{ path('fos_user_profile_edit')}}">修改邮箱/用户名</a></li>
                         <li><a href="{{ path('fos_user_security_logout') }}">退出</a></li>
                   </ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>$(function() {if(($('.header').height()+$('.main').height()+$('.footer').height())<$('body').height())$('.main').css('height','100%');}); </script>
  {% endblock %}

{% block body -%}
 <div class="container main">
       <div class="row" style="padding-top: 20px;">
             <legend>Hello {{app.user.username}}</legend>
             <div class="span11">
                    <div class="row">
                          <div class="span6">
                            <h5>微博ID</h5>
                            <p class="alert alert-info">{{ entity.weiboid }}</p>
                          </div>
                          <div class="span6">
                            <h5>头像</h5>
                            <img src="{{ entity.photo }}" alt="">
                          </div>
                    </div>
             </div>
             <div class="span1"></div>
    </div>
</div>
    {% endblock %}